@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);

    --fs: 16px;
    --ff: "Figtree", serif;
    --fw-semi-bold: 600;
    --fw-bold: 800;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--ff);
    font-size: var(--fs);
    background-color: var(--yellow);
    font-weight: var(--fw-semi-bold);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 400px;
    height: 535px;
    padding: 25px;
    background-color: var(--white);
    border-radius: 20px;
    border: solid 1px var(--black);
    box-shadow: 10px 10px 0px var(--black);
}

.content-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.img-card {
    width: 100%;
    border-radius: 15px;
}

.tab {
    margin-top: 10px;
    background-color: var(--yellow);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    padding: 8px 10px;
    width: fit-content;
}

.date {
    font-size: 1.05rem;
}

h1 {
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: var(--fw-bold);
}

h1:hover {
    text-shadow: 2px 1px 0.8px var(--black);
    cursor: pointer;
    transform: scale(1.03);
    color: var(--yellow);
    transition: ease in 0.1s;
}
.text {
    color: var(--grey);
    font-size: 1rem;
    line-height: 1.5;
}

.footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.name {
    font-size: .880rem;
    font-weight: var(--fw-bold);
}

.name:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--grey);
    transition: ease in 0.1s;
}


@media only screen and (min-width: 375px) and (max-width: 500px) {
    .content {
        width: 340px;
    }
}